/* Global Styling */
html{
	font-family: Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
	scroll-behavior: smooth;

}

body {
	line-height: 1.5;
	background-color: floralwhite;
 	padding: 2rem;
}

body,
h1,
h2,
h3,
p {
	margin: 0;
}

h1, 
h2, 
h3 {
	color: plum;
	line-height: 1;
	margin-bottom: 1em;
}

img {
	max-width: 100%;
}

.text-center {
	text-align: center;
}

header,
section {
	padding: 1rem 1rem 1rem 1rem;
}

.container {
	margin-inline: auto;
	width: min(90%, 70rem);
}

/* Section Styling */
.lavenderblush {
	background-color: lavenderblush;
}

.lightpink {
	color: #FFF;
	background-color: lightpink
}

.thistle {
	color: #FFF;
	background-color: thistle
}

.lightpink h2,
.thistle h2 {
	color: deeppink;
}

a {
	text-decoration: none;
	color: lightpink;
}

a:hover {
	color:deeppink;
}

/* Grid Styling */
.grid {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
	grid-template-areas:
    "sapporo1 sapporo2 sapporo3"
    "hanami1 hanami2 hanami3"
    "gion1 gion2 gion3"
}

.grid-item-1-1 {
	grid-area: sapporo1;
}

.grid-item-1-2 {
	grid-area: sapporo2;
}

.grid-item-1-3 {
	grid-area: sapporo3;
}

.grid-item-2-1 {
	grid-area: hanami1;
}

.grid-item-2-2 {
	grid-area: hanami2;
}

.grid-item-2-3 {
	grid-area: hanami3;
}

.grid-item-3-1 {
	grid-area: gion1;
}

.grid-item-3-2 {
	grid-area: gion2;
}

.grid-item-3-3 {
	grid-area: gion3;
}

/* Media */
@media only screen and (max-width: 750px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
		grid-template-areas:
    	"sapporo1 sapporo2"
		"sapporo1 sapporo2"
		"sapporo3 sapporo3"
    	"hanami2 hanami3"
		"hanami2 hanami3"
		"hanami1 hanami1"
    	"gion1 gion2"
		"gion1 gion2"
		"gion3 gion3"
    }
  }

@media only screen and (max-width: 350px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
		grid-template-areas:
    	"sapporo1"
		"sapporo2"
		"sapporo3"
    	"hanami2"
		"hanami3"
		"hanami1"
    	"gion1"
		"gion2"
		"gion3"
  }
}
